/* LOGIN PAGE */

header {
  background-color: var(--primary-color);
  height: 8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
header ul{
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header img{
  display: block;
  width: 4rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
  
/* Form */

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

#login-form, #register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45rem;
  background: #fff;
  border: .2rem solid var(--primary-50-color);
  border-radius: 1.5rem;
  box-shadow: 0px 4px 8px 1px var(--shadow-bg-color);
  padding: 4rem 4rem;
  gap: 2rem;
}

#register-form {
  display: none;

}

.form-container h2 {
  text-align: center;
  color: #513eff;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.input-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  gap: 1rem;
}

.input-group label{
  font-weight: 600;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: .5rem;
  height: 7.5rem;
}

.input-box input {
  width: 35rem;
  height: 4.8rem;
  border: .1rem solid var(--gray-300-color);
  border-radius: 1rem;
}

.btn-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  gap: 2rem;
}

.primary-btn {
  color: #fff;
  background-color: var(--primary-color);
  padding: 1.4rem 2.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.primary-btn:hover {
  box-shadow: 0 0.4em 0.4em 0.3em var(--primary-50-color);
  transform: translateY(-0.04em);
}

.text-btn {
  color: var(--body-color);
  background-color: #fff;
  cursor: pointer;
}
.text-btn:hover {
  border-bottom: .1rem solid var(--body-color); 
}
  
/* Mobile */

@media screen and (max-width: 1300px) and (min-width: 740px){

  .form-container {
    padding: 8rem;
  }

  #login-form, #register-form {
    width: 45rem;
    padding: 4rem 4rem;
    gap: 2rem;
  }

  .input-box input {
    width: 32rem;
  }

}

@media screen and (max-width: 740px) and (min-width: 460px){
  header{
      font-size: 1.4rem;
  }

  .form-container {
    padding: 6rem;
  }

  #login-form, #register-form {
    width: 40rem;
    padding: 3rem 3rem;
    gap: 2rem;
  }

  .input-box input {
    width: 30rem;
    height: 5rem;
  }

}