/* MAIN-BUG LIST PAGE */

/* Navigation */

header{
  background-color: var(--primary-color);
  height: 8rem;
  max-width: 1140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
header ul{
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header img{
  display: block;
  width: 4rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.nav-main {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 8rem;
}

.menu {
  display: flex;
  position: absolute;
  right: 8rem;
  gap: 2rem;
}

.menu a {
  color: #fff;
  height: 3rem;
  display: flex;
  align-items: center;
}

.menu a:hover {
  border-bottom: .1rem solid #fff; 
}

/* Bugs overview */

.bugs-overview {
  display: flex;
  flex-direction: row;
  margin: 8rem 0;
  gap: 2rem;
}

.overview-bloc{
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bugs-overview img {
  width: 8rem;
}

/* Add a bug */

.bar-bugs-add {
  width: 90rem; 
}

.material-symbols-rounded {
  font-size: 4rem;
  color: var(--primary-color)
}

.btn-add {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color)
}

/* Table */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bugs {
  border-collapse: collapse;
  width: 90rem;
  margin-top: 1.5rem;
}

#bugs td, #bugs th {
  border: .1rem solid #ddd;
  padding: .8rem;
  text-transform: capitalize;
}

#bugs tr:nth-child(even){background-color: var(--primary-50-color);}

#bugs tr:hover {background-color: var(--primary-100-color);}

#bugs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

#bugs td {
  letter-spacing: normal;
}

#bugs thead tr :first-child {
  border-top-left-radius: 1.5rem;
}
#bugs thead tr :last-child {
  border-top-right-radius: 1.5rem;
}