
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');


:root{
  --primary-color: #513eff;
  --body-color : #222;
  --primary-100-color: #C6C0FF;
  --primary-50-color : #EDEBFF;
  
  --gray-300-color : #D4D3E0;
  --shadow-bg-color : rgba(5, 0, 51, 0.08);
  --shadow-sm-color : rgba(4, 0, 36, 0.08);
  --btn-color : var(--primary-color);
}

.container {
  position: relative;
  min-height: 100%;
}

footer {
  width: 100%;
  position: absolute;
  align-items: center;
}
footer p {
  text-align: center;
}

